<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografía</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header>
    David Alexander Montecinos Aviles
</header>

<nav class="nav-superior">
    <img src="img/Multimedia (1).jpg" David Montecinos>
    <h2>David Montecinos</h2>
</nav>

<div class="container">

    <aside>
        <h3>Habilidades</h3>
        <ul>
            <li>Estidiamte de ingles</li>
            <li>Aprende rapido</li>
            <li>Condicion fisica  exelente</li>
            <li>Trabajador </li>
            <li>Innovación grogramador</li>
        </ul>
    </aside>

    <div class="content-area">

        <div class="content">
            <h3>Descripción </h3>
            <p>
                David montecinos es un estudiante becado que le pone el
                 mayor esfuerzo posible para poder pasarlo.
            </p>
        </div>

        <div class="section">
            <h3>Reseña</h3>
            <p>
                Nació en 2010 en Santa Ana . Sus exelentes aprendisajes lo llevaron a poder 
                quedar en una beca donde esta aprendiendo el idioma ingles ademas de programar.
            </p>
        </div>

    </div>

</div>

<footer>
    "Nada en la vida debe ser temido, solo comprendido."
</footer>

</body>
</html>