
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c7dbe6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

header {
    background-color: #ffffff;
    color: rgb(95, 29, 29);
    text-align: center;
    padding: 25px;
    font-size: 32px;
    border-radius: 8px;
}

.nav-superior {
    background-color: #39c163;
    color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-superior img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.container {
    display: flex;
    flex: 1;
    gap: 15px;
}

aside {
    background-color: #6fd36f;
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    color: white;
}

aside h3 {
    margin-bottom: 15px;
}

aside ul {
    list-style: none;
}

aside li {
    margin-bottom: 10px;
}

.content-area {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content {
    background-color: #1f8fb2;
    padding: 30px;
    border-radius: 8px;
    color: white;
}

.section {
    background-color: #0f5c89;
    padding: 30px;
    border-radius: 8px;
    color: white;
}

footer {
    background-color: #18b3a5;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    font-style: italic;
}